@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/white-alpha.css";

.timer-container {
  width: 100%;
  height: 20vh;
  min-height: 200px;
  line-height: 1;

  border: 1px solid var(--purple-9);
  border-radius: 8px;
  padding: 1em;

  background-color: var(--white-a1);

  animation: 2s all ease-in;

  display: grid;
  column-gap: 1rem;
  grid-template-rows: 1fr 1fr max-content;
  grid-template-columns: max-content auto;
  grid-template-areas:
    "title timer"
    "subtitle timer"
    "controls timer";

  &.view-mode {
    grid-template-rows: repeat(1fr, 2);
    grid-template-columns: 1fr max-content;
    grid-template-areas:
      "title timer"
      "subtitle timer";

    .title {
      align-items: flex-start;
    }
    .subtitle {
      align-items: flex-end;
    }
  }

  button {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    box-shadow: none;
    border: none;

    display: flex;
    justify-content: space-around;
    place-items: center;

    height: 2rem;
    width: 125px;
    background-color: var(--white-a10);

    transition: 0.2s background-color ease-in;

    &:hover,
    &:focus,
    &:focus-visible {
      background-color: var(--white-a11);
    }

    &:active {
      background-color: var(--white-a12);
    }
  }

  .title {
    grid-area: title;

    font-size: 3rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .subtitle {
    grid-area: subtitle;

    font-size: 3rem;

    display: flex;
    flex-direction: row;
  }

  .timer {
    grid-area: timer;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 7rem;

    &.overtime {
      color: var(--red-9);
    }
  }

  .controls {
    grid-area: controls;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
  }

  .finish-button {
    background-color: var(--red-7);
    color: white;

    &:hover,
    &:focus,
    &:focus-visible {
      background-color: var(--red-8);
    }

    &:active {
      background-color: var(--red-9);
    }
  }
}
