@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/purple-dark.css";

.add-event {
  width: 100%;
  height: 20vh;
  min-height: 200px;

  border: 1px var(--purple-7) dashed;
  border-radius: 7px;
  background-color: transparent;
  color: var(--purple-8);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 8rem;

  &:hover,
  &:focus,
  &:focus-visible {
    outline: 1px dashed var(--purple-9);
    // border: 1px dashed var(--purple-9);
    border: none;
    color: var(--purple-9);
  }

  &:active {
    outline: 1px dashed var(--purple-11);
    // border: 1px dashed var(--purple-11);
    border: none;
    color: var(--purple-11);
  }
}
