@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/jade.css";
@import "@radix-ui/colors/bronze.css";

@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/jade-dark.css";
@import "@radix-ui/colors/bronze-dark.css";

.event-container {
  width: 100%;
  height: 20vh;
  min-height: 150px;
  line-height: normal;

  border: 1px solid white;
  border-radius: 8px;
  padding: 1em;

  display: grid;
  column-gap: 2rem;
  row-gap: 1rem;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-columns:
    minmax(0, 1fr)
    repeat(4, minmax(90px, 150px))
    2rem
    minmax(0, 1fr);
  grid-template-areas:
    ". name name name name buttons ."
    ". hasDraft draftTime rounds roundTime buttons .";

  .light & {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .dark & {
    background-color: rgba(255, 255, 255, 0.05);
  }

  input[type="text"] {
    height: 3rem;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    border-bottom: 1px solid var(--bronze-7);
    font-size: 1.5rem;

    transition: 0.2s border-color ease-in;

    &:focus {
      border-bottom: 1px solid var(--bronze-9);
    }

    .light & {
      color: black;
    }

    .dark & {
      color: white;
    }
  }

  input[type="checkbox"] {
    height: 24px;
    width: 24px;

    &:checked {
      accent-color: #a18072;
    }

    &:focus-visible {
      outline: 1px solid white;
      outline-offset: 0;
    }
  }

  button {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    box-shadow: none;
    border: none;

    display: flex;
    justify-content: center;
    place-items: center;

    height: 2rem;
    width: 2rem;

    transition: 0.2s background-color ease-in;

    svg {
      color: white;
    }

    &:focus-visible {
      outline: 1px solid white;
      outline-offset: 0;
    }
  }

  .title {
    font-size: 0.75rem;

    &.error {
      color: var(--red-11);
    }
  }

  .checkbox-title {
    font-size: 0.75rem;

    display: flex;
    justify-content: center;
    width: 100%;
  }

  .eventDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;

    transition: 0.2s opacity ease-in;

    &.disabled {
      opacity: 0;
    }
  }

  .input-with-label {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .label {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .eventName {
    grid-area: name;
  }

  .rounds {
    grid-area: rounds;

    input {
      text-align: center;
    }
  }

  .roundTime {
    grid-area: roundTime;

    input {
      text-align: center;
    }
  }

  .buttons {
    grid-area: buttons;

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;

    .submit {
      background-color: var(--jade-7);

      &:active {
        background-color: var(--jade-9);
      }
    }

    .cancel {
      background-color: var(--red-7);

      &:active {
        background-color: var(--red-9);
      }
    }
  }

  .hasDraft {
    grid-area: hasDraft;

    .checkbox-section {
      height: 3rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .draftTime {
    grid-area: draftTime;

    input {
      text-align: center;
    }
  }
}
