@import "@radix-ui/colors/iris.css";
@import "@radix-ui/colors/iris-dark.css";
@import "@radix-ui/colors/plum.css";
@import "@radix-ui/colors/plum-dark.css";
@import "@radix-ui/colors/white-alpha.css";
@import "@radix-ui/colors/black-alpha.css";

.app-container {
  font-family: Lato, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0 auto;
  padding: 0 1rem;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  min-width: 320px;
  min-height: 100vh;

  background: linear-gradient(-45deg, var(--iris-3), var(--plum-2));
  background-size: 200% 200%;
  color: var(--white-a10);

  &.top-pad {
    padding-top: 2rem;
  }
}
