@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-dark.css";

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

input {
  background: none;
  border: none;
  outline: none;
  outline-offset: 0;
  font-family: inherit;
  font-size: 1rem;

  color: white;
}

button {
  font-family: inherit;

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    outline: 1px solid var(--blue-9);
    outline-offset: 0;
  }
}
